<template>
  <div class="container">
    <h1>Histórico da Ordem de Serviço | <button class="btn btn-primary" v-on:click="go('/work-order')">Voltar</button>
    | <button class="btn btn-success" v-on:click="go('/work-order-history/form/' + id)">Criar</button></h1>
      
      <div class="row">
        <div class="col-12">
          <div class="row" v-for="(item, key) in items" :key="key">
            <div class="col-12">
              <p>OS #{{ item.id }} - nota adicionada em: {{ item.created }}</p>
              <div class="jumbotron">
                <p>{{ item.notes }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>          
    </div>
  </div>
</template>

<script>
import workOrderHistoryRepository from './../../repository/workOrderHistoryRepository'

export default {
  name: 'HomeWorkOrderHistory',
  props: {
    
  },
  data () {
    return {
      id: 0,
      items: []
    }
  },
  created() {
    this.id = this.$route.params.id
    this.list()
  },
  methods: {
    go (uri) {
      this.$router.push(uri)
    },
    async list () {
      const result = await workOrderHistoryRepository.list()
      result.data.data.forEach(element => {
        this.items.push({
          id: element.id,
          notes: element.notes,
          created: element.created_at,
          updated: element.updated_at
        })
      })      
    },
    async remove (id) {
      const result = await workOrderHistoryRepository.remove(id);
      if (result.data.success) {
        alert('Excluído!');
        this.go('/work-order');
      } else {
        alert('Erro!' + result.data.message);
        console.log(result.data.message)
      }
    }
  }
}
</script>
