<template>
  <div class="container">
    <h1>Adicionar Nota | <button class="btn btn-primary" v-on:click="go('/work-order-history')">Voltar</button></h1>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label>Notas</label>
            <textarea cols="5" rows="5" class="form-control" v-model="notes"></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" v-on:click="save()">Salvar</button>
          </div>                    
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import workOrderHistoryRepository from './../../repository/workOrderHistoryRepository'

export default {
  name: 'WorkOrderHistoryForm',
  props: {
    
  },
  data () {
    return {
      id: 0,
      notes: ''
    }
  },
  created() {
    this.id = this.$route.params.id
  },
  methods: {
    go (uri) {
      this.$router.push(uri)
    },
    async save () {
      var obj = {
        notes: this.notes,
        workOrderId: this.id
      }

      const result = await workOrderHistoryRepository.save(obj);
    
      if (result.data.success) {
        alert('Salvo!');
        this.go('/work-order-history/' + this.id);
      } else {
        alert('Erro!' + result.data.message);
        console.log(result.data.message)
      }
    }
  }
}
</script>
