<template>
  <div class="container">
    <h1>Ordens de Serviço | <button class="btn btn-primary" v-on:click="go('/')">Voltar</button>
    | <button class="btn btn-success" v-on:click="go('/work-order/form')">Criar</button></h1>
    <div class="row">
      <div class="col-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Data de Criação</th>
              <th scope="col">Data de Atualização</th>
              <th scope="col">Histórico</th>
              <th scope="col">Editar</th>
              <th scope="col">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, key) in items" :key="key">
              <th scope="row">{{ item.id }}</th>
              <td> {{ item.title }}</td>
              <td> {{ item.created }}</td>
              <td> {{ item.updated }}</td>
              <td> <button class="btn btn-primary" v-on:click="go('/work-order-history/' + item.id)">Histórico</button></td>
              <td> <button class="btn btn-primary" v-on:click="go('/work-order/form/' + item.id)">Editar</button></td>
              <td> <button class="btn btn-primary" v-on:click="remove(item.id)">Excluir</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import workOrderRepository from './../../repository/workOrderRepository'

export default {
  name: 'HomeWorkOrder',
  props: {
    
  },
  data () {
    return {
      items: []
    }
  },
  created() {
    this.list()
  },
  methods: {
    go (uri) {
      this.$router.push(uri)
    },
    async list () {
      const result = await workOrderRepository.list()
      result.data.data.forEach(element => {
        this.items.push({
          id: element.id,
          title: element.title,
          created: element.created_at,
          updated: element.updated_at
        })
      })      
    },
    async remove (id) {
      const result = await workOrderRepository.remove(id);
      if (result.data.success) {
        alert('Excluído!');
        this.go('/work-order');
      } else {
        alert('Erro!' + result.data.message);
        console.log(result.data.message)
      }
    }
  }
}
</script>
