<template>
  <div class="container">
    <h1>Ordem de Serviço | <button class="btn btn-primary" v-on:click="go('/work-order')">Voltar</button></h1>
    <div class="row">
      <div class="col-12">
        <form>
          <div class="form-group">
            <label>Título</label>
            <input type="text" class="form-control" v-model="title">
          </div>

          <div class="form-group">
            <label>Descricao</label>
            <textarea cols="5" rows="5" class="form-control" v-model="description"></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" v-on:click="save()">Salvar</button>
          </div>                    
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import workOrderRepository from './../../repository/workOrderRepository'

export default {
  name: 'HomeWorkOrder',
  props: {
    
  },
  data () {
    return {
      id: 0,
      title: '',
      description: ''
    }
  },
  created() {
    this.id = this.$route.params.id
    
    if (this.id > 0) {
      this.get(this.id)
    }
  },
  methods: {
    go (uri) {
      this.$router.push(uri)
    },
    async get (id) {
      const result = await workOrderRepository.getOne(this.id)
      var element = result.data.data[0]
      this.title = element.title
      this.description = element.description
    },
    async save () {
      var obj = {
        title: this.title,
        description: this.description
      }

      let result = null;
      if (this.id > 0) {
        result = await workOrderRepository.update(this.id, obj);
      } else {
        result = await workOrderRepository.save(obj);
      }

      if (result.data.success) {
        alert('Salvo!');
        this.go('/work-order');
      } else {
        alert('Erro!' + result.data.message);
        console.log(result.data.message)
      }
    }
  }
}
</script>
