<template>
  <div class="container">
    <h1>{{ msg }}</h1>
    <h3>
      Selecione o seu perfil de usuário abaixo
    </h3>
    <ul>
      <li><b-button class="btn-default" v-on:click="save('HELP-DESK'); go('/work-order')" variant="outline-primary">Service Desk</b-button></li>
      <li><b-button class="btn-default" v-on:click="save('DEVELOPER'); go('/work-order')" variant="outline-primary">Developer</b-button></li>
      <li><b-button class="btn-default" v-on:click="save('ADMIN'); go('/work-order')" variant="outline-primary">Admin</b-button></li>
    </ul>    
  </div>
</template>

<script>
export default {
  name: 'Home',
  props: {
    msg: String
  },
  methods: {
    save (profile) {
      localStorage.profile = profile
    },
    go (uri) {
      this.$router.push(uri)
    }
  }
}
</script>

<style scoped>
  ul {
    margin: 0 auto;
    display: inline;
  }

  li {
    list-style: none;
    margin: 1rem;
  }

  .btn-default {
    min-width: 10em;
  }
</style>